body {
  background-color: #181818;

  font-family: "Graphik", sans-serif;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
}

#box-channels {
  display: flex;
}

.channel-header {
  width: 191px;
  height: 35.91px;

  color: #fff;

  align-items: center;
}

.channel-foxnews img {
  width: 30px;
}

.channel-foxbusiness img {
  width: 41px;
}

.channel-header:hover {
  background-color: #244291;
}

.channel-nation img {
  width: 32px;
}

.channel-nation:hover {
  background-color: #bc2333;
}

.channel-foxsports img {
  width: 50px;
}

.channel-tubi img {
  width: 39px;
}

.channel-tubi:hover {
  background-color: #ff501a;
}

.channel-header img {
  margin-right: 30px;
}

.channel-header:hover img {
  animation-duration: 0.3s;
  animation-name: slideinimg;
}

@keyframes slideinimg {
  0% {
    -o-transform: translateX(+30px);
    transform: translateX(+30px);
  }
  100% {
    -o-transform: translateX(0);
    transform: translateX(0);
  }
}

.channel-header span {
  font-size: 11px;

  display: none;
}

.channel-header:hover span {
  display: block;

  animation-duration: 0.3s;
  animation-name: slideinspan;
}

@keyframes slideinspan {
  0% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(0);
  }
}

#header-fixed {
  width: 100%;
  height: 73px;

  padding: 0px 65px;

  background-color: #000;

  position: fixed;
  z-index: 999999;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#tabs img {
  width: 57px;
  height: fit-content;

  margin-right: 60px;
}

#tabs nav {
  display: flex;
  align-items: center;

  height: inherit;
}

#tabs ul {
  padding: 0;
  margin: 0;

  list-style: none;

  height: inherit;

  display: flex;
  align-items: center;
}

#tabs ul li {
  display: flex;
  justify-content: center;
  align-items: center;

  height: inherit;
  margin-right: 28px;
}

#tabs ul li.active {
  border-bottom: 2px solid #0086bd;
}

#tabs ul li a {
  text-decoration: none;

  color: hsla(0, 0%, 100%, 0.75);

  font-weight: 600;

  transition: color 0.5s;
}

#tabs ul li a:visited {
  color: hsla(0, 0%, 100%, 0.75);
}

#tabs ul li a:hover {
  color: #fff;
}

#signin-search button {
  background: transparent;

  padding: 8px;

  border: 1px solid #ffffff40;
  border-radius: 17px;

  color: #ffffffbf;

  margin-right: 16px;

  height: fit-content;
}

#signin-search button:hover {
  background: #ffffff40;
}

#signin-search svg {
  width: 18px;

  margin-left: 6px;

  fill: #ffffffbf;
}

#signin-search svg {
  color: hsla(0, 0%, 100%, 0.75);

  transition: fill 0.5s;
}

#signin-search svg:hover {
  fill: #fff;
}

main {
  margin-top: 73px;
  position: relative;
}

.carousel {
  height: 615px;
  max-width: 100vw;

  position: relative;

  background-image: url(../../assets/carrousel1.jpg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 80% 1000px;
}

.carousel2 {
  background-image: url(../../assets/carrousel2.jpg);
}

.carousel3 {
  background-image: url(../../assets/carrousel3.jpg);
}

.image-container {
  width: 100vw;
  height: inherit;

  display: flex;
}

.image-container .control-carousel-left {
  width: 130px;

  padding-right: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  background-color: #151515;
}

svg.control-button {
  width: 43px;

  position: absolute;
  top: 280px;
  z-index: 999;

  transition: all 0.1s ease-in-out;
}

svg.control-button:hover {
  transform: scale(1.5);
}

.control-button-left {
  left: 57px;
}

.control-button-right {
  right: 57px;
}

.info {
  display: grid;
  width: 416px;
}

.info-inside {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: rgb(21, 21, 21);
  background: linear-gradient(
    90deg,
    rgba(21, 21, 21, 1) 0%,
    rgba(21, 21, 21, 1) 64%,
    rgba(21, 21, 21, 0.8029586834733894) 75%,
    rgba(21, 21, 21, 0.7693452380952381) 79%,
    rgba(21, 21, 21, 0.68531162464986) 85%,
    rgba(21, 21, 21, 0) 99%
  );
}

.time-div-carousel {
  width: max-content;

  padding: 4px 5px;

  margin: 16px 0;

  border: 1px solid #fff;

  font-weight: 600;
  font-size: 12px;
  color: #fff;
}

.description span {
  display: block;
  line-height: 26px;

  color: #fff;
  font-size: 16px;
}

.description .info-episode {
  font-weight: 500;
}

.description .sinopse {
  font-size: 15px;
  color: #d8d8d8;
}

.description .hour {
  font-size: 12px;
  color: #d8d8d8;
}

.box-buttons-carousel {
  display: flex;

  margin: 24px 0;
}

.box-buttons-carousel button {
  border: none;
  border-radius: 22px;

  font-size: 14px;
  font-weight: 600;
  color: #fff;

  background-color: #0086bd;

  padding: 13px;

  transition: all 0.1s ease-in-out;

  display: flex;
  align-items: center;

  cursor: pointer;
}

.box-buttons-carousel button svg {
  width: 17px;

  fill: #fff;

  margin-right: 8px;
}

.box-buttons-carousel button:nth-child(2) {
  margin-left: 13px;

  background-color: transparent;

  border: 1px solid hsla(0, 0%, 100%, 0.25);
}

.box-buttons-carousel button:hover {
  transform: scale(1.1);
}

.box-buttons-carousel button:nth-child(2):hover {
  border: 1px solid hsla(0, 0%, 100%, 1);
}

.slick-dots {
  background-color: rgba(0, 0, 0, 0.2);

  width: auto;

  border-radius: 23.4px;

  bottom: 29px;
  right: 57px;
}

.slick-dots li button:before {
  font-size: 13px;
  color: #fff;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}

.carousel-mask {
  position: relative;
}

.carousel-mask2 {
  padding: 0 65px;
  margin-bottom: 40px;
}

.carousel-mask2 h2 {
  font-weight: 500;
  font-size: 20px;
  color: #fff;

  margin-bottom: 40px;
}

.carrousel-slick2 .slick-track {
  height: 30.4vw;
}

.slick-prev,
.slick-next {
  z-index: 2000;
}

.slick-prev:before,
.slick-next:before {
  font-size: 40px;
}

.carrousel-slick2 .slick-disabled {
  display: none !important;
}

.item-carousel2 {
  height: 28.8vw;
  width: 100%;

  padding: 2.5%;

  background-repeat: no-repeat;
  background-size: 95% 50%;

  background-position-x: 50%;
  background-position-y: 4.5%;

  transition: all 0.1s ease-in-out;
}

.item-carousel2:hover {
  transform: scale(1.07);

  margin-top: 10px;
}

.item-carousel2:hover .more-episodes-carousel2 {
  display: block;
}

.item-carousel2:hover .header-item-carousel2 svg {
  display: flex;
}

.item1-car2 {
  background-image: url("../../assets/carrousel1.jpg");
}

.item1-car2:hover {
  background-image: url("../../assets/carrousel2.jpg");
}

.item2-car2 {
  background-image: url("../../assets/carrousel2.jpg");
}

.item2-car2:hover {
  background-image: url("../../assets/carrousel21.jpg");
}

.item3-car2 {
  background-image: url("../../assets/carrousel3.jpg");
}

.item3-car2:hover {
  background-image: url("../../assets/carrousel33.jpg");
}

.item4-car2 {
  background-image: url("../../assets/secondcarrousel1.jpg");
}

.item4-car2:hover {
  background-image: url("../../assets/secondcarrousel11.jpg");
}

.item5-car2 {
  background-image: url("../../assets/secondcarrousel6.jpg");
}

.item5-car2:hover {
  background-image: url("../../assets/secondcarrousel66.jpg");
}

.item6-car2 {
  background-image: url("../../assets/secondcarrousel3.jpg");
}

.item6-car2:hover {
  background-image: url("../../assets/secondcarrousel33.jpg");
}

.item7-car2 {
  background-image: url("../../assets/secondcarrousel2.jpg");
}

.item7-car2:hover {
  background-image: url("../../assets/secondcarrousel22.jpg");
}

.item8-car2 {
  background-image: url("../../assets/secondcarrousel7.jpg");
}

.item8-car2:hover {
  background-image: url("../../assets/secondcarrousel5.jpg");
}

.content-carousel2 {
  height: 100%;
  width: 100%;

  color: #fff;

  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 0.623686974789916) 69%, rgba(0, 0, 0, 0) 80%);
}

.header-item-carousel2 {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;
}

.alert-item-carousel2 {
  background-color: rgba(0, 155, 255, 0.65);
  border: 1px solid rgba(0, 155, 255, 0.65);
  border-radius: 0.1875rem;

  font-weight: 100;
  font-size: 0.625rem;
  padding: 0.1875rem 0.25rem 0.125rem;

  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
}

.header-item-carousel2 svg {
  width: 23px;

  display: none;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.header-item-carousel2 svg:hover {
  transform: scale(1.2);
}

.play-button-container-carousel2 {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 2.5vw;
}

.play-button-container-carousel2 svg {
  width: 3.5vw;

  cursor: pointer;

  transition: all 0.1s ease-in-out;
}

.play-button-container-carousel2 svg:hover {
  transform: scale(1.2);
}

.icon-container-carousel2 {
  width: 100%;

  padding: 0 100px;

  margin-top: 1.5vw;

  display: flex;
  justify-content: center;
}

.icon-container-carousel2 img {
  max-width: 375px;
  max-height: 80px;
  width: 17vw;
}

.name-episode-carousel2 {
  text-align: center;
  font-size: 0.813rem;
  font-weight: 600;

  margin-top: 30px;
}

.sinopse-episode-carousel2 {
  font-size: 12px;
  text-align: center;
  opacity: 0.5;

  width: 100%;

  margin-top: 40px;

  padding: 0 2vw;
}

.more-episodes-carousel2 {
  text-align: center;
  margin-top: 5.7vw;

  display: none;
}

.more-episodes-carousel2 a {
  text-decoration: none;
  font-weight: 500;
  font-size: 0.8em;
}

.more-episodes-carousel2 a:visited {
  color: #fff;
}

.wrapper-ads {
  padding: 0 75px;
}
.wrapper-ads img {
  width: 100%;

  cursor: pointer;
}

footer {
  background-color: #000;
  color: white;

  padding: 40px 65px 0px 65px;
}

footer a {
  color: rgb(139, 137, 137);
  text-decoration: none;
}

hr.divider-footer {
  border-color: #474747;
}

.title-sections {
  font-size: 24px;
  font-weight: 500;

  margin-top: 12px;
}

#container-inside-social-networks {
  display: flex;
  align-items: center;

  margin-top: 34px;
}

.social-networks-item {
  width: 25%;
}

.social-networks-item a {
  display: flex;
  align-items: center;
}

.item-social-facebook a {
  align-items: flex-end;
}

.item-social-facebook img {
  margin-left: -10px;
}

.icon-social-networks {
  width: 25px;

  margin-right: 8px;

  background-color: white;
}

#foxsocial-networks-container {
  margin-bottom: 52px;
}

#container-links-fox {
  padding: 50px 0px;
}

#grid-container-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  font-size: 16px;
  font-weight: 600;
}

.links-sides {
  display: block;

  color: #8f8e8e;

  margin-top: 40px;
}

.links-sides a {
  width: 49%;

  display: inline-flex;

  line-height: 1.88;
}

#copyright-container {
  padding-top: 42px;
  padding-bottom: 71px;

  display: flex;
  align-items: center;

  font-size: 14px;
  color: #a1a1a1;
}

#copyright-container img {
  width: 86px;
}

.bolder {
  color: white;
}

#foxTvicon {
  margin-right: 46px;
}

#copyrightText {
  margin-right: 60px;
}

@media (max-width: 1400px) {
  .sinopse-episode-carousel2 {
    margin-top: 1.5vw;
  }

  .more-episodes-carousel2 {
    margin-top: 3vw;
  }

  .icon-container-carousel2 img {
    max-height: 60px;
  }
}
